.ui_loader {
    color: blue;
    animation: rotate 3s linear infinite;
}

.ui_loader__circle {
    stroke-linecap: round;
    animation: dash ease-in-out 2s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}